.popover {
	width: 1000px !important; 
    max-width: 400px;
}
.card-header{
    padding: 0px;
}

.react-form-builder .react-form-builder-preview .edit-form{
    left:0px;
    padding:0px;
    width:0px;
}

.popover-body{
    padding: 10px;
    
    
}
.react-form-builder .react-form-builder-preview{
    margin-top: 5px;
    height: 400px;
    min-height: 0px;
    margin-bottom: 9px;
}
.list{
    padding-bottom: 0px;
}
.react-form-builder .react-form-builder-toolbar ul li{
    margin-left: -15px;
    padding:0px;
    text-indent: -20px;
}
h4{
    margin-top: 100px;
    font-size: 15px;
}
.react-form-builder .react-form-builder-toolbar{
    margin-top: 0px;
}
