.errors{
    color: red;
}
.container{
    padding-top: 100px;
    padding-left: 500px;   
}

.header{
    font-family: Georgia;
    font-size: 25px;
    color: sienna;
}

input[type='text'],input[type='password']{
    display: block;
    background: #F9F9F9;
    font-family: Garamond;
    font-size: 15px;
  }

  label{
      font-family:Georgia ;
      font-size: 20px;
  }

  button{
      color:black;
      font-size: 15px;
      background-color: salmon;
      padding: 6px 15px;
      margin-top: 5px;
      border-radius: 5px;
  }